---
import Layout from '@layout/Layout.astro'
---

<Layout
  seo={{
    title: 'УК Качественный Сервис',
    description:
      'Управляющая компания «Качественный сервис» является надёжным партнёром в сфере управления и обслуживания многоквартирных домов.',
    cover: '/images/seo/home.jpg',
  }}
>
  <h1>УК Качественный Сервис</h1>
</Layout>
