---
import Icon from './Icon.astro'

export interface Props {
  class?: string
  items?:
    | Array<{
        title: string
        icon: string
        href: string
      }>
    | undefined
}

const {
  class: className,
  items = [
    {
      title: 'vk',
      icon: 'vk',
      href: 'https://google.com',
    },
    {
      title: 'telegram',
      icon: 'telegram',
      href: 'https://google.com',
    },
  ],
  ...rest
} = Astro.props
---

<ul
  {...rest}
  class:list={['social', className]}
>
  {
    items.map((item) => {
      return (
        <li class="social__item">
          <a
            class="social__item__link"
            href={item.href}
            target="_blank"
            title={item.title}
          >
            <Icon
              class="social__item__icon"
              name={item.icon}
            />
          </a>
        </li>
      )
    })
  }</ul
>

<style is:global>
  .social {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .social__item {
    width: 3.4rem;
    height: 3.4rem;
  }

  .social__item__link {
    width: 100%;
    height: 100%;
  }

  .social__item__icon {
    width: 100%;
    height: 100%;

    fill: var(--color-button);

    @media (hover: hover) {
      transition: fill var(--duration-button);

      .social__item__link:hover & {
        fill: var(--color-primary);
      }
    }
  }
</style>
