---
export interface Props {
  heading?: string
  text?: string
}

const {
  heading = 'Политика обратботки персональных данных',
  text = `
    <h3>1. Общие положения</h3>
    Настоящая Политика обработки персональных данных (далее — Политика) разработана в соответствии с Федеральным законом от 27 июля 2006 года № 152-ФЗ "О персональных данных" и определяет порядок обработки и защиты персональных данных, которые могут быть получены в ходе предоставления услуг компанией "УК Качественный Сервис".

    <h3>2. Цели обработки персональных данных</h3>
    <h4>Персональные данные обрабатываются с целью:</h4>
    <ul>
      <li>Предоставления услуг и выполнения обязательств перед клиентами.</li>
      <li>Осуществления обратной связи с клиентами, включая направление уведомлений, запросов и информации, касающихся услуг.</li>
      <li>Проведения маркетинговых исследований и анализа для улучшения качества предоставляемых услуг.</li>
      <li>Соблюдения требований законодательства Российской Федерации.</li>
    </ul>

    <h3>3. Состав обрабатываемых персональных данных</h3>
    <h4>Компания "УК Качественный Сервис" может обрабатывать следующие персональные данные:</h4>
    <ul>
      <li>Фамилия, имя, отчество.</li>
      <li>Контактные данные (телефон, электронная почта).</li>
      <li>Данные, необходимые для выполнения обязательств по договорам (адрес, реквизиты и др.).</li>
      <li>Другие данные, предоставленные клиентами добровольно.</li>
    </ul>

    <h3>4. Порядок обработки персональных данных</h3>
    <h4>Обработка персональных данных осуществляется с соблюдением следующих принципов:</h4>
    <ul>
      <li>Законность и справедливость обработки.</li>
      <li>Ограничение целей обработки.</li>
      <li>Минимизация объема обрабатываемых данных.</li>
      <li>Точность и актуальность данных.</li>
      <li>Хранение данных не дольше, чем это необходимо для достижения целей обработки.</li>
    </ul>

    <h3>5. Права субъектов персональных данных</h3>
    <h4>Субъекты персональных данных имеют право:</h4>
    <ul>
      <li>Запрашивать информацию о своих персональных данных, которые обрабатываются компанией.</li>
      <li>Требовать уточнения, блокировки или уничтожения своих персональных данных в случае их недостоверности или незаконной обработки.</li>
      <li>Отзывать свое согласие на обработку персональных данных в любое время.</li>
    </ul>


    <h3>6. Защита персональных данных</h3>
    Компания "УК Качественный Сервис" принимает необходимые организационные и технические меры для защиты персональных данных от неправомерного доступа, уничтожения, изменения или раскрытия.

    <h3>7. Заключительные положения</h3>
    Настоящая Политика может быть изменена и дополнена в соответствии с изменениями законодательства Российской Федерации. Все изменения вступают в силу с момента их публикации на сайте компании.
  `,
} = Astro.props
---

<!-- BLOCK -->
<div class="policy">
  <h1
    class="font-h1 font-mob-h1 policy__heading"
    set:html={heading}
  />
  <div
    class="font-p2 font-mob-p3 policy__rich"
    set:html={text}
  />
</div>

<style is:global>
  .policy {
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
    padding-top: 0;
  }

  .policy__heading {
    margin-bottom: 5rem;

    @media (max-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  .policy__rich {
    h1,
    h2,
    h3 {
      font-size: 3.2rem;
      font-weight: 500;
      margin: 3rem 0;

      @media (max-width: 768px) {
        font-size: 2.5rem;
        font-weight: 400;
        margin: 2.5rem 0;
      }
    }

    h4,
    h5,
    h6 {
      font-size: 2.5rem;
      font-weight: 400;
      margin-top: 3rem;
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        font-size: 2rem;

        margin-top: 2.5rem;
        margin-bottom: 2rem;
      }
    }

    ul {
      list-style: disc;
    }

    ol {
      list-style: decimal;
    }

    li {
      list-style-position: inside;
    }

    ol > li::marker {
      font-weight: 600;
    }

    ul,
    ol {
      margin-top: 2rem;
      margin-bottom: 5rem;

      @media (max-width: 768px) {
        margin-bottom: 3rem;
      }
    }

    a {
      text-decoration: underline;
    }
  }
</style>
