---
import Image, { type ImageDataProps } from '@elements/Image.astro'

export interface Props {
  heading?: string
  description?: string
  image?: ImageDataProps
}

const {
  heading = 'В&nbsp;квитанциях ошибки, в&nbsp;подъезде мусор, сотрудники управляющей хамят?',
  description = 'Расскажите о проблемах с ЖКХ',
  image = { src: '/images/illustrations/2.svg' },
} = Astro.props
---

<!-- BLOCK -->
<section class="problems">
  <div class="problems__inner">
    <div class="problems__left">
      <h2
        class="font-h2 font-mob-h3 problems__heading"
        set:html={heading}
      />
      <p
        class="font-p1 font-mob-p2 problems__description"
        set:html={description}
      />
      <e-popover-button
        class="font-button font-mob-p2 problems__feedback-button"
        target="feedback"
        >Написать о проблеме</e-popover-button
      >
    </div>
    <Image
      class="problems__right"
      {...image}
      lazy
      lazyBackground
      cover
    />
  </div>
</section>

<style is:inline>
  .problems {
    padding: var(--section-vertical-padding) var(--screen-horisontal-padding);
  }

  .problems__inner {
    display: flex;

    overflow: hidden;

    border-radius: var(--border-radius);

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  .problems__left {
    padding: 9.75rem 8rem;

    color: var(--color-surface);
    background-image: linear-gradient(to bottom, #2d73bc 0%, #3293da 40%, #38bafe 100%);

    @media (max-width: 768px) {
      padding: var(--screen-horisontal-padding);
    }
  }

  .problems__heading {
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  .problems__description {
    margin-bottom: 5rem;
  }

  .problems__right {
    flex-shrink: 0;

    width: 65.8rem;

    @media (max-width: 768px) {
      width: 100%;
      height: 28.9rem;
    }
  }

  .problems__feedback-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 7rem;
    padding: 0 4.7rem;

    color: var(--color-button);
    background-color: var(--color-surface);
    border-radius: 7rem;

    @media (max-width: 768px) {
      width: 100%;
      height: 7.5rem;
    }
  }
</style>
